In [3]:
import numpy as np

In [6]:
# Job titles
job_titles = np.array(['Data Analyst', 'Data Scientist', 'Data Engineer', 'Machine Learning Engineer', 'AI Engineer'])

# Base salaries
base_salaries = np.array([60000, 80000, 75000, 90000, np.nan])
# Bonus rates
bonus_rates = np.array ([0.05, 0.1, 0.08, 0.12, np.nan])



--------------

In [8]:
total_salaries = base_salaries * (bonus_rates + 1)

total_salaries

array([ 63000.,  88000.,  81000., 100800.,     nan])

In [9]:
mean_salary = np.nanmean(total_salaries)
print("Mean salary is:", mean_salary)

Mean salary is: 83200.0