In [19]:
import pandas as pd
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

df

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,NaN,NaN,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785736,Software Engineer,DevOps Engineer,Singapura,melalui Trabajo.org,Pekerjaan tetap,False,Singapore,2023-03-13 06:16:16,False,False,Singapore,None,NaN,NaN,CAREERSTAR INTERNATIONAL PTE. LTD.,"['bash', 'python', 'perl', 'linux', 'unix', 'k...","{'os': ['linux', 'unix'], 'other': ['kubernete..."
785737,Data Analyst,CRM Data Analyst,"Bad Rodach, Jerman",melalui BeBee Deutschland,Pekerjaan tetap,False,Germany,2023-03-12 06:18:18,False,False,Germany,None,NaN,NaN,HABA FAMILYGROUP,"['sas', 'sas', 'sql', 'excel']","{'analyst_tools': ['sas', 'excel'], 'programmi..."
785738,Business Analyst,Commercial Analyst - Start Now,Malaysia,melalui Ricebowl,Pekerjaan tetap,False,Malaysia,2023-03-12 06:32:36,False,False,Malaysia,None,NaN,NaN,Lendlease Corporation,"['powerpoint', 'excel']","{'analyst_tools': ['powerpoint', 'excel']}"
785739,Data Engineer,"Principal Associate, Data Engineer (Remote-Eli...","Newark, New Jersey, Amerika Serikat",melalui Recruit.net,Pekerjaan tetap,False,Sudan,2023-03-12 06:32:15,False,False,Sudan,None,NaN,NaN,Capital One,"['python', 'go', 'nosql', 'sql', 'mongo', 'she...","{'cloud': ['aws', 'snowflake', 'azure', 'redsh..."
785740,Software Engineer,AWS System Analyst,India,melalui Trigyn,Pekerjaan tetap,False,India,2023-03-13 06:16:31,False,False,India,None,NaN,NaN,Trigyn,"['aws', 'flow']","{'cloud': ['aws'], 'other': ['flow']}"

In [20]:
df.describe()

                     job_posted_date  salary_year_avg  salary_hour_avg
count                         785741     22003.000000     10662.000000
mean   2023-06-25 16:02:11.860248576    123286.274072        47.016598
min              2023-01-01 00:00:04     15000.000000         8.000000
25%              2023-03-20 10:05:48     90000.000000        27.500000
50%              2023-06-29 06:11:38    115000.000000        45.980000
75%              2023-09-27 01:01:16    150000.000000        61.159996
max              2023-12-31 23:59:58    960000.000000       391.000000
std                              NaN     48312.449482        21.890738

In [21]:
df['salary_year_avg'].median()

115000.0

In [22]:
df['salary_year_avg'].min()

15000.0

In [23]:
min_salary = df['salary_year_avg'].idxmin()

In [24]:
df.iloc[min_salary]

job_title_short                                              Data Engineer
job_title                                           Data Engineer - Hadoop
job_location                                                        Brazil
job_via                                                       via LinkedIn
job_schedule_type                                                Full-time
job_work_from_home                                                   False
search_location                                                     Brazil
job_posted_date                                        2023-12-09 10:05:30
job_no_degree_mention                                                 True
job_health_insurance                                                 False
job_country                                                         Brazil
salary_rate                                                           year
salary_year_avg                                                    15000.0
salary_hour_avg                                                        NaN
company_name                                               Net2Source Inc.
job_skills               ['java', 'python', 'oracle', 'aws', 'hadoop', ...
job_type_skills          {'cloud': ['oracle', 'aws'], 'libraries': ['ha...
Name: 665729, dtype: object

In [25]:
df.groupby('job_title_short')['job_title_short'].min()

job_title_short
Business Analyst                      Business Analyst
Cloud Engineer                          Cloud Engineer
Data Analyst                              Data Analyst
Data Engineer                            Data Engineer
Data Scientist                          Data Scientist
Machine Learning Engineer    Machine Learning Engineer
Senior Data Analyst                Senior Data Analyst
Senior Data Engineer              Senior Data Engineer
Senior Data Scientist            Senior Data Scientist
Software Engineer                    Software Engineer
Name: job_title_short, dtype: object

In [26]:
df.groupby('job_title_short')['salary_year_avg'].median()

job_title_short
Business Analyst              85000.0
Cloud Engineer                90000.0
Data Analyst                  90000.0
Data Engineer                125000.0
Data Scientist               127500.0
Machine Learning Engineer    106415.0
Senior Data Analyst          111175.0
Senior Data Engineer         147500.0
Senior Data Scientist        155500.0
Software Engineer             99150.0
Name: salary_year_avg, dtype: float64

In [27]:
grouped = df.groupby(['job_title_short', 'job_country'])['salary_year_avg'].median()
print(grouped)

job_title_short    job_country
Business Analyst   Afghanistan        NaN
                   Albania            NaN
                   Algeria            NaN
                   Angola             NaN
                   Argentina      71100.0
                                   ...
Software Engineer  Venezuela          NaN
                   Vietnam        53600.0
                   Yemen              NaN
                   Zambia             NaN
                   Zimbabwe           NaN
Name: salary_year_avg, Length: 1387, dtype: float64

In [28]:
grouped = df.groupby(['job_title_short', 'job_country'])[['salary_year_avg', 'salary_hour_avg']].median()
print(grouped)

                               salary_year_avg  salary_hour_avg
job_title_short   job_country
Business Analyst  Afghanistan              NaN              NaN
                  Albania                  NaN              NaN
                  Algeria                  NaN              NaN
                  Angola                   NaN              NaN
                  Argentina            71100.0              NaN
...                                        ...              ...
Software Engineer Venezuela                NaN              NaN
                  Vietnam              53600.0              NaN
                  Yemen                    NaN              NaN
                  Zambia                   NaN              NaN
                  Zimbabwe                 NaN              NaN

[1387 rows x 2 columns]

In [29]:
grouped = df.groupby(['job_title_short', 'job_country'])['salary_year_avg'].agg(['min', 'max', 'median'])
print(grouped)

                                   min      max   median
job_title_short   job_country
Business Analyst  Afghanistan      NaN      NaN      NaN
                  Albania          NaN      NaN      NaN
                  Algeria          NaN      NaN      NaN
                  Angola           NaN      NaN      NaN
                  Argentina    63000.0  79200.0  71100.0
...                                ...      ...      ...
Software Engineer Venezuela        NaN      NaN      NaN
                  Vietnam      28000.0  79200.0  53600.0
                  Yemen            NaN      NaN      NaN
                  Zambia           NaN      NaN      NaN
                  Zimbabwe         NaN      NaN      NaN

[1387 rows x 3 columns]

#Hw

#🟩 Calculate Mean Salary (1.26.1)

In [30]:
mean1 = df['salary_year_avg'].mean()
mean2 = df['salary_hour_avg'].mean()

In [31]:
print(mean1, mean2)

123286.27407182401 47.01659821515861

#🟩 Calculate Median Salary (1.26.2)

In [32]:
median1 = df['salary_year_avg'].median()
median2 = df['salary_hour_avg'].median()

In [33]:
print(median1, median2)

115000.0 45.97999954223633

#🟨 Average Hourly Salary by Job Title (1.26.3)

In [39]:
grouped = df.groupby('job_title_short')['salary_hour_avg']
grouped.mean()

job_title_short
Business Analyst             42.723415
Cloud Engineer               45.560715
Data Analyst                 38.106918
Data Engineer                57.196998
Data Scientist               49.361403
Machine Learning Engineer    48.477935
Senior Data Analyst          47.661218
Senior Data Engineer         62.848496
Senior Data Scientist        54.105631
Software Engineer            46.452019
Name: salary_hour_avg, dtype: float64

#🟨 Job with Lowest Salary (1.26.4)

In [41]:
grouped.min()

job_title_short
Business Analyst             10.835
Cloud Engineer               18.500
Data Analyst                  8.000
Data Engineer                 8.000
Data Scientist                8.000
Machine Learning Engineer    10.000
Senior Data Analyst          13.000
Senior Data Engineer         12.500
Senior Data Scientist        17.500
Software Engineer            11.000
Name: salary_hour_avg, dtype: float64

#🟨 Job Count by Country (1.26.5)

In [43]:
df.groupby('job_country')['job_title_short'].count()

job_country
Afghanistan      16
Albania         119
Algeria         111
Angola           11
Argentina      8736
               ...
Venezuela        69
Vietnam        2414
Yemen            10
Zambia          104
Zimbabwe         81
Name: job_title_short, Length: 160, dtype: int64